@font-face {
    font-family: KumbhSans;
    src: url(font/KumbhSans-VariableFont_wght.ttf);
}

html {
    box-sizing: border-box;
}

* {
    border: 0px dotted red;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

button {
    background: none;
}

body {
    display: flex;
    gap: 3em;
    flex-direction: column;
    justify-content: center;
}

.navbar {
    border-bottom: 1px solid gray;
    margin: 0 100px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;

}

.navbar ul {
    font-family: KumbhSans;
    align-self: center;
    border: 0px solid grey;
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    gap: 1em;

}

.user-img {
    height: 40px;
    width: 40px;
}

.cart--bubble{
    position: absolute;
    left: 4px;
    top: -8px;
    text-align: center;
    border-radius: 12px;
    width: 18px;
    height: 18px;
    background-color: #ff6161;
    border: 1px solid #fff;
    font-weight: 400;
    color: #f0f0f0;
    line-height: 16px;
    font-size: 10px;
}

.nav-cart {
    position:relative ;
    display: flex;
    flex-direction: column;

}
.nav-cartimg{
    height:20px;
    width:22px;
}

.user {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}


.wrapper {
    border: 0px solid purple;
    background-color: white;
    color: black;
    max-width: 72vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-bottom: 6rem;
}

.prod-img {
    border: 0px solid red;
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
}

.img_1 {
    border-radius: 5%;
    height: 500px;
    width: 500px;
    align-self: center;

}

.img-thumb {
    border: 0px solid blue;
    display: flex;
    /* width: 500px;*/
    justify-content: space-between;
    /*align-self: center;*/

}

.img {
    border-radius: 5%;
    width: 100px;
    height: 100px;
    transition: box-shadow 0.3s ease;
}
.img--selected{
 box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
}
.img:hover{
    cursor: pointer;
}
.product-details {
    border: 0px solid green;
    display: flex;
    height: 630px;
    width: fit-content;
    flex: 1;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}


.com-name {
    border: 0px solid blue;
    margin-bottom: 10px;
    font-family: KumbhSans;
    width: fit-content;
    padding: 5px;
    color: #FF7D01;
    font-size: 15px;

}

.Pro-title {
    border: 0px solid red;
    font-family: KumbhSans;
    font-weight: bold;
    width: fit-content;
    font-size: 40px;
    margin-bottom: 30px;

}

.pro-des {
    border: 0px solid blue;
    width: 101%;
    color: rgba(0, 0, 0, 0.5);
    font-family: KumbhSans;
    font-size: 15px;
    line-height: 24px;

}

.order {
    border: 0px solid red;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.dis-price {
    font-family: KumbhSans;
    /* in this the flex flow is not working*/
    border: 0px solid black;
    width: fit-content;
    display: flex;
    gap: 1em;


}

.price {
    font-family: KumbhSans;
    font-weight: bold;
    font-size: 20px;
}

.discount {
    font-family: KumbhSans;
    width: 36px;
    background-color: #FDECDE;
    font-weight: bold;
    font-size: 13px;
    padding: 4px;
    text-align: center;
    color: #FF7D01;
    border-radius: 4px;
}

.orginal-price {
    font-family: KumbhSans;
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 13;
}

.shopping-action {
    
    display: flex;
    align-items: center;
    gap: 1em;
}

.item-quantity {
    
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0rem 0rem;
    display: flex;
    align-items: center;
    width: fit-content;
    height: min-content;
    gap: 2rem;
    border-radius: 1rem;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.quantity-selector {

    display: flex;
    text-align: center;
    color: #FF7D01;
    font-weight: bolder;
    font-size: large;
    border-radius:1rem;
   padding: .8rem 1rem;


}
.quantity_selector:hover{
    cursor: pointer;
}

.add_cart {
    
    background-color: #FF7D01;
    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    padding: 1rem;
    width: 100%;
    border-radius: 1rem;
    gap: 1rem;
    box-shadow: 0 8px 16px 0 #f8b372, 0 6px 20px 0 #f8b372;
}

.add_cart:hover{
    cursor: pointer;
}
